@{
    ViewBag.Title = "Calculator";
}
<style>
    .calculator {
        width: 500px;
        margin-top: 30px;
        background: white;
    }
    .calculator .header{
        padding-top:14px;
    }
    .calculator .header input {
        width: 400px;
        padding:3px;
        margin-top:4px;
    }

    .sign {
        font-weight: 400;
        font-size: 17px;
        padding:1px;
        text-align:center;
    }
    .footer{
        margin-top:10px;
        padding:6px;
    }
    .footer input{
        width:54px;
        font-weight:800;
        font-size:17px;
    }
    .footer input[type=submit],.footer input[type=reset]{
        width:400px;
        background:#081687;
        border:0px;
        margin-top:3px;
        color:white;
        padding:5px;
    }
    .footer input[type=reset]{
        background:brown;
    }
</style>
<center>
    <div class="calculator">
       
           @using (Html.BeginForm("Calculate","Home"))
           {
            <div class="header">
                <input type="text" name="val1" placeholder="number 1" />
                <br />
                <input type="text" name="val2" placeholder="number 2" />
                <br />
                <input type="text" name="sing" placeholder="sign" class="sign"/>
            </div>
            <div class="footer">
                <input type="button" value="+" onclick="change(this)" />
                <input type="button" value="-" onclick="change(this)" />
                <input type="button" value="*" onclick="change(this)" />
                <input type="button" value="%" onclick="change(this)" />
                <input type="button" value="/" onclick="change(this)" />
                <input type="button" value="Sqr" onclick="change(this)" />
                <input type="button" value="x*x" onclick="change(this)" />
                <input type="submit" value="=" />
                <input type="reset" value="Clr" />
            </div>
           }
    </div>
</center>
@section scripts{
<script>
    function change(element) {
        $(".sign").val(element.value);
    }
    </script>    
}
